<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/util
        http://www.springframework.org/schema/util/spring-util-2.0.xsd">
       
     <bean id="messageFactory" class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory">
        <property name="soapVersion">
            <util:constant static-field="org.springframework.ws.soap.SoapVersion.SOAP_11" />
        </property>
    </bean>

       
  <bean id="orderServiceMarshaller" class="org.springframework.oxm.xmlbeans.XmlBeansMarshaller">
  
    </bean>
   
    <bean id="orderServiceTemplate" class="org.springframework.ws.client.core.WebServiceTemplate">
       
        <property name="marshaller" ref="orderServiceMarshaller"></property>
        <property name="unmarshaller" ref="orderServiceMarshaller"></property>
        <property name="messageSender">
            <bean
                class="org.springframework.ws.transport.http.CommonsHttpMessageSender">
            </bean>
        </property>
        <property name="defaultUri" value="http://localhost:8080/LiveRestaurant/spring-ws/OrderService" />
    </bean>
   
    <bean id="OrderServiceClient" class="com.packtpub.liverestaurant.service.client.OrderServiceClient">
        <constructor-arg ref="orderServiceTemplate"></constructor-arg>
    </bean>
    
    	<bean id="log4jInitialization"
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" />
		<property name="targetMethod" value="initLogging" />
		<property name="arguments">
			<list>
				<value>src/test/resources/log4j.properties</value>
			</list>
		</property>
	</bean>	
    
</beans>